# Python DataType

1. int
2. float
3. complex
4. string

5. list
6. set
7. dictionary

In [1]:
#int

my_int = 10
type(my_int)

int

In [2]:
#float

my_float = 10.34
type(my_float)

float

# Operations on Numeric DataType

1. Arithmetic
2. Assignment 
3. Boolean
4. Comparision
5. Logical

# Division 

1. Integer Division
 
 a. Returns integer only
 
 b. It uses // operator 
 
 c. It only returns the quotient of the division 
 

2. Float Division
 
 a. Returns Float
 
 b. It uses / operator
 
 c. It returns the complete division

 # Operations on INTEGER

In [3]:
my_int = 10
print(my_int + 4) #Addition 
print(my_int - 4) #Subtraction 
print(my_int * 4) #Multiplication
print(my_int / 4) #Float Division
print(my_int // 4) #Integer Division
print(my_int ** 4) #Power

14
6
40
2.5
2
10000

In [5]:
my_int = 10
print(my_int//4)

2

In [6]:
print(my_int/4)

2.5

# Multiplication in float

In [4]:
my_float = 10.5
print(my_float + 4) #Addition
print(my_float - 4) #Subtraction
print(my_float * 4) #Multiplication
print(my_float // 4) #Int division
print(my_float / 4) #Float division
print(my_float ** 4) #Power
print(type(my_float)) #Type

14.5
6.5
42.0
2.0
2.625
12155.0625
<class 'float'>

# Integer Division i.e returns int value

In [13]:
my_float = 10.5
print(my_float//2)

5.0

# Assignment Operator

In [14]:
my_int = my_int + 10

In [15]:
my_int

20

In [16]:
my_int += 10
my_int

30

# Boolean Operations

In [17]:
bool(my_int)

True

# When the value is 0 boolean output is always F

In [19]:
my_bool_int = 0
bool(my_bool_int)

False

# Comparision Operators
   
   ==
   
   !=
   
     
     >=
   
   <=
   
   <
   
     
      >

In [6]:
val_1 = 10
val_2 = 13

print(val_1 == val_2) #Equals
print(val_1 <= val_2) #Less than or Equal
print(val_1 >= val_2) #Greater than or Equal
print(val_1 != val_2) #Not equals
print(val_1 > val_2) #Greater Than 
print(val_1 < val_2) #Less than

False
True
False
True
False
True

# Using AND Operator

In [21]:
bool1 = True
bool2 = True
print(bool1 and False)

False

# Using OR Operator

In [22]:
bool1 = True
bool2 = True
print(bool1 or False)

True

# String
 
 1. We enclose it in single/double quotes
 2. It takes bytes according to the number of characters

In [23]:
a = ("Hello World")
print(a)

Hello World

In [24]:
print(a + " Harsh")

Hello World Harsh

# Slicing 
 
 1. Indexing 
  
  a. Starts from 0 
  
  b. Last index is always one less than the total length
  

 2. Slicing
 
  a. Cutting downt the string according to our need

# Print the required elements from string

In [11]:
string = "Hello Python"

print(string)

print(string[0], string[5]) #Accessing characters of string

print(string[1:]) #Forward slicing

print(string[:-1]) #Backward slicing

print(string[2:7]) #Getting middle of string

print(string + " Language") #Concating a string

Hello Python
H
ello Python
Hello Pytho
llo P
Hello Python Language

# Reverse the string

In [12]:
string = "Hello Python"
string[::-1]

'nohtyP olleH'

# Printing first two elements of string

In [13]:
string = "Hello Python"
string[:2]

'He'

# Printing the elements except the first two

In [31]:
string = "Hello Python"
string[2:]

'llo Python'

# Strip the string

In [15]:
string1 = "Hello World"
string1 = string1.strip() #Strip function to remove the spaces
print(string1)

Hello World

# Split the string

In [14]:
string = "Hello Python"

word1, word2 = string.split(" ")

In [33]:
word1

'Hello'

In [34]:
word2

'Python'

# List
1. Collective DataType
2. To innitiate List using []
3. Can add any datatype in list
4. We have functions like add, append, sort, sum etc

In [37]:
my_list = []
print(type(my_list))

<class 'list'>

# Append and Sum

In [38]:
my_list = [2,3]
my_list.append(3)
sum(my_list)

8

In [40]:
my_list = [2,3]
my_list.append(3)
print(my_list)

[2, 3, 3]

# Append and Sort

In [41]:
my_list = [2,3]
my_list.append(3)
print(my_list)
my_list = sorted(my_list)

[2, 3, 3]

# Append and Print (Append means add something at the end)

In [2]:
my_list = [2,3]
my_list.append(3)
my_list.append([4,5]) 
my_list.append("Hello")
print(my_list)

[2, 3, 3, [4, 5], 'Hello']

# Tuple
1. Immutable
2. Collective DataType
3. In paranthesis

In [49]:
my_tuple = (1,2,3, 'Hello')
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, 3, 'Hello')

# Set
1. Collective DataType 
2. It dsent allow repeated values
3. It is mutable can be changed
4. Defined in {}

# Set remove the repeated element while printing

In [53]:
my_set = {1,2,3,4,5,5}
print(my_set)

{1, 2, 3, 4, 5}

# Set converted to List

In [51]:
my_set = {1,2,3,4,5,5}
list(my_set)

[1, 2, 3, 4, 5]

# Set converted to Tuple

In [52]:
my_set = {1,2,3,4,5,5}
tuple(my_set)

(1, 2, 3, 4, 5)

# Dictionary
1. Stores key value pairs
2. Collective Datatype
3. Stored in curly braces

# Print keys and the key values

In [17]:
my_dict = {
    1: "Mango",
    2: "Banana",
    3: "Chiku"
}
print(my_dict.keys())  
print(my_dict.values())
print(my_dict.get(3))
print(my_dict.items())  #Getting whole dict items with each key value pair in tuple
print(my_dict)

dict_keys([1, 2, 3])
dict_values(['Mango', 'Banana', 'Chiku'])
Chiku
dict_items([(1, 'Mango'), (2, 'Banana'), (3, 'Chiku')])
{1: 'Mango', 2: 'Banana', 3: 'Chiku'}

# Print the distinct key value

In [58]:
my_dict = {
    1: "Mango",
    2: "Banana",
    3: "Chiku"
}

print(my_dict.get(2))

Banana