# CONTROL STATEMENTS

     1.Decision Control Statement
     
     2.Control Flow Statement

# Decision Control Statements 
  1. IF/ ELSE
  2. ELIS

# If statement

In [20]:
var_1 = 5
if var_1 >= 5:
    print(var_1)

5

# If Else Statement

In [10]:
var_1 = 4
if var_1 > 5:
    print(var_1)
else:
    print("Number is not big enough")

10

# A company distributes salary according to the post. Now if the salary is below 10,000 it is a peon, if it is between 10,000 - 20,000 it is a clerk, if it is above 20,000 it is a Manager. And above 20,000 it is Sr Manager

In [25]:
my_salary = int(input("Enter the value")) #input function takes value as a string by default
if my_salary >= 30000:
    print("I am a Sr manager", my_salary) #For printing 2 values in the same statements, we diff them by comma
elif my_salary < 30000 and my_salary >= 20000:
    print("I am a manager", my_salary)
elif my_salary < 20000 and my_salary >= 10000:
    print("I am a clerk", my_salary)
else:
    print("I am a peon")

Enter the value27000
I am a manager 27000

In [24]:
# Nested method 

my_salary = int(input("Enter the Salary"))

if my_salary > 10000:
    if my_salary < 30000:
        print("I am a Clerk", my_salary)
    else:
        print("I am a Manager", my_salary)
else:
    print("I am a peon", my_salary)

Enter the Salary28000
I am a Clerk 28000

# Control Flow Statement

 1. For
 
 2. While

In [27]:
# 3 Arguments = start, end, difference
# start = if not provided, by default it is assigned as 0
# end = we have to provide
# diff = if not provided, by default it is 1
# range has the value always 1 iteration less than the end value
range_ = range(10)
range_[8]

8

In [30]:
# for loop 
# 3 Input = start, end, iteration difference

for val in range(10):
    print("Work done for", val)

Work done for 0
Work done for 1
Work done for 2
Work done for 3
Work done for 4
Work done for 5
Work done for 6
Work done for 7
Work done for 8
Work done for 9

In [38]:
#Print all the even numbers less than the given input

number = int(input("Provide the input "))

for i in range(0,number,2):
    print(i)

Provide the input 20
0
2
4
6
8
10
12
14
16
18

In [39]:
my_list = [2,5,7,4,2,1]

for val in my_list:
    print(val **2)

4
25
49
16
4
1

In [41]:
#In a given list,convert the list into square of its elements

my_list1 = [2,5,7,4,2,1]
new_list = []
for val in my_list1:
    new_list.append(val**2)
    
new_list

[4, 25, 49, 16, 4, 1]

In [49]:
#Indexing concept

my_list1 = [2,5,7,4,2,1]

for i in range(len(my_list1)):
    my_list1[i] = my_list1[i]**2
my_list1

[4, 25, 49, 16, 4, 1]

In [50]:
my_list1 = [2,5,7,4,2,1]
new_list
for i in my_list:
     new_list.append(i**2)
   


for i in range(len(my_list1)):
    my_list1[i] = my_list1[i]**2
my_list1

[4, 25, 49, 16, 4, 1]

In [53]:
# Nested for loop (loop inside loop)

my_2d_list = [[1,2],[3,4],[5,6],[7,8]]
lis = []
for i in my_2d_list:
    for j in i:
        lis.append(j**2)
    my_2d_list
        
lis

[1, 4, 9, 16, 25, 36, 49, 64]